.loginsignup {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #fce3fe; */
    height: 100vh;

  }
  
  .loginsignup-container {
    width: 400px;
    height: 400px;
    padding: 50px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .loginsignup h1 {
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .loginsignup-fields {
    margin-bottom: 20px;
    /* margin: 20px; */

  }
  
  .loginsignup-fields input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .loginsignup-fields input:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .loginsignup button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .loginsignup button:hover {
    background-color: #0056b3;
  }
  
  .loginsignup-login {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .loginsignup-login span {
    color: #007bff;
    cursor: pointer;
  }
  
  .loginsignup-agree {
    display: flex;
    align-items: center;
  }
  
  .loginsignup-agree input {
    margin-right: 10px;
  }
  
  .loginsignup-agree p {
    font-size: 12px;
  }
  